$primaryColor : #00E676;
$secondaryColor: #EDF8F5;
$tertiaryColor: #66D7E6;
$fourthColor: #D0E9EA;


p
{
    color: #555;
}
.my-div {
  overflow-y: scroll;
}
.scrollableDiv
{
    overflow-y: auto;
    max-height: 150px;

}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.abc
{
    background-color: #00E676 !important;
}

img
{
        width: 115px;
    padding: 0rem 0rem;

}
.top-bar, .top-bar ul
{


    background-color: $secondaryColor;
}

body{
font-family: 'Roboto', sans-serif;
}