// @import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
body,
html,
div.board,
div#react-container {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.displ {
    margin: 3%;
    display: inline;
    float: left;
}

// div.board {
// }

.yellowNote
{
        background-color: #FFF9C4;

}
div.note {
    height: 150px;
    width: 150px;
    color: black;
    background-color: #FFF9C4;
    // background-color: #FFF59D;
    padding-bottom: 10px;
    margin: 6px 0 !important;
    // margin: 12px 0 !important;
    border: 20px;
    margin: 2px 0;
    position: relative;
    cursor: -webkit-grab;
  -transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
//   transform: rotate(-3.5deg);
//   -webkit-transform: rotate(-3.5deg);
//   -moz-transform: rotate(-3.5deg);

    // -webkit-box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
    // box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
}

.note:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
}
div.note:active {
    cursor: -webkit-grabbing;
}

div.note p {
    font-size: 18px;
    // font-size: 22px;
    padding: 5px;
        background-color: #FFF9C4;

    word-wrap: break-word;
    // font-family:    "Helvetica", Arial;
    // font-family:    "Shadows Into Light", Arial;
}

div.note:hover>span {
    opacity: 1;
}

div.note>span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;

}

div.note button {
    margin: 2px;
}

div.note>textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);       
}

.glyphicon-plus {
    position: fixed;
    top: 10px;
    right: 10px;
}